@CHARSET "utf-8";

body {
	background: url("../images/Magic_formation.jpg");
}

h2 {
	padding: 5px 18px;
	color: #fff;
	background-color: #000;
	opacity: 0.6;
	font-size: 16px;
}

section {
	width: 100%;
}

article {
	display: inline-block;
	width: 175px;
	height: 280px;
	margin: 15px 18px;
	padding: 2px 5px;
	border: 10px solid #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: left top no-repeat url(../images/scbg.jpg);
	-webkit-box-shadow: 10px 10px 5px #999;
	-moz-box-shadow: 10px 10px 5px #999;
	vertical-align: top;
	font-size: 14px;
}

article h3 {
	height: 30px;
	margin-bottom: 2px;
	padding: 5px;
	border: 2px solid #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #fff;
	opacity: 0.6;
}

article h3 a {
	color: #f00;
}

article p.thumbnail {
	margin-bottom: 2px;
	height: 175px;
	background-color: #000;
}

article p.description {
	height: 48px;
	padding: 2px 5px;
	border: 2px solid #000;
	background-color: #fff;
	opacity: 0.7;
}