@CHARSET "utf-8";

body {
	background: url("../images/Magic_formation.jpg");
}

h2 {
	padding: 5px 18px;
	color: #fff;
	background-color: #f00;
	opacity: 0.8;
	font-size: 16px;
}

section {
	width: 100%;
	padding-bottom: 20px;
}